<h3>Enunciado do Trabalho Prático</h3>

In [4]:
from IPython.display import IFrame
IFrame("Enunciado do Trabalho Prático - Módulo 1 - Bootcamp Engenheiro de dados.pdf", width='100%', height=500)

<h3>Download dos dados do ENEM</h3>

In [41]:
import pandas as pd
import zipfile
import requests
from tqdm import tqdm
import sys
import os

folder = 'dados_enem'
zip_folder = folder + '.zip'

r = requests.get('http://download.inep.gov.br/microdados/microdados_enem_2019.zip', stream=True)
if int(r.headers.get('content-length')) != os.stat(zip_folder).st_size:
    sys.stdout.write('> Downloading file...')
    f = open(zip_folder,'wb')
    chunk_size = 1024
    for chunk in tqdm(r.iter_content(chunk_size=chunk_size), total=int(int(r.headers.get('content-length'))/chunk_size)):
        f.write(chunk)
else:
    f = open(zip_folder, 'rb')
        
os.makedirs(folder, exist_ok=True)
if not os.path.isdir(folder + '/DADOS'):
    enemzip = zipfile.ZipFile(f)
    enemzip.extractall(folder)

<h3>Coletando apenas estudantes de Minas Gerais</h3>

In [43]:
enem = pd.read_csv('dados_enem/DADOS/MICRODADOS_ENEM_2019.csv', sep=';', decimal=',', encoding='latin-1')

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006129589,2019,2928604,Santo Amaro,29,BA,28,F,2,2,...,A,A,A,B,A,A,B,A,A,B
5095266,190006129590,2019,2927408,Salvador,29,BA,25,M,1,2,...,A,A,A,A,A,A,B,A,A,A
5095267,190006129591,2019,2931806,Tremedal,29,BA,18,F,1,3,...,A,A,A,B,A,A,B,A,A,B
5095268,190006129592,2019,2927408,Salvador,29,BA,16,M,1,1,...,B,A,A,B,B,A,C,A,B,B
5095269,190006129593,2019,2914802,Itabuna,29,BA,25,F,1,2,...,B,A,B,B,B,A,B,A,B,B

In [81]:
minas_enem = enem[enem.SG_UF_RESIDENCIA == 'MG']

<h3>Salvando no SQL Server</h3>

In [84]:
import sqlalchemy
import pyodbc

engine = sqlalchemy.create_engine('mssql+pyodbc://igti-bootcamp:dados2020@127.0.0.1/enem?driver=ODBC+Driver+17+for+SQL+Server')
minas_enem.to_sql('enem', con=engine, index=False, if_exists='replace')

<h3>Questionario</h3>

In [59]:
IFrame("Questionario.pdf", width='100%', height=500)

<h3>Respostas</h3>

Exercício 1.

In [99]:
nota_mat_media = pd.read_sql_query('SELECT NU_NOTA_MT FROM ENEM', con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_mat_media))

546.80 pontos

<br/>
Exercício 2.

In [100]:
nota_lc_media = pd.read_sql_query('SELECT NU_NOTA_LC FROM ENEM', con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_lc_media))

531.22 pontos

<br/>
Exercício 3.

In [101]:
nota_feminino_ch_media = pd.read_sql_query("SELECT NU_NOTA_CH FROM ENEM WHERE TP_SEXO = 'F'", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_feminino_ch_media))

515.13 pontos

<br/>
Exercício 4.

In [102]:
nota_masculino_ch_media = pd.read_sql_query("SELECT NU_NOTA_CH FROM ENEM WHERE TP_SEXO = 'M'", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_masculino_ch_media))

529.70 pontos

<br/>
Exercício 5.

In [105]:
nota_feminino_montes_claros_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE TP_SEXO = 'F' AND NO_MUNICIPIO_RESIDENCIA = 'Montes Claros'",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_feminino_montes_claros_mt_media))

525.48 pontos

<br/>
Exercício 6.

In [112]:
nota_tv_sabara_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE NO_MUNICIPIO_RESIDENCIA = 'Sabará' AND Q021 = 'B'",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_tv_sabara_mt_media))

543.29 pontos

<br/>
Exercício 7.

In [114]:
nota_dois_forno_ch_media = pd.read_sql_query("SELECT NU_NOTA_CH FROM ENEM WHERE Q016 = 'C'", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_dois_forno_ch_media))

557.28 pontos

<br/>
Exercício 8.

In [115]:
nota_posgrad_mae_mt_media = pd.read_sql_query("SELECT NU_NOTA_MT FROM ENEM WHERE Q002 = 'G'", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_posgrad_mae_mt_media))

620.01 pontos

<br/>
Exercício 9.

In [117]:
nota_bh_conselheiro_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE NO_MUNICIPIO_RESIDENCIA = 'Belo Horizonte' OR NO_MUNICIPIO_RESIDENCIA = 'Conselheiro Lafaiete'",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_bh_conselheiro_mt_media))

578.04 pontos

<br/>
Exercício 10.

In [119]:
nota_mora_sozinho_ch_media = pd.read_sql_query("SELECT NU_NOTA_CH FROM ENEM WHERE Q005 = 1", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_mora_sozinho_ch_media))

534.46 pontos

<br />
Exercício 11.

In [125]:
nota_pai_posgrad_8k_ch_media = pd.read_sql_query("SELECT NU_NOTA_CH FROM ENEM WHERE Q001 = 'G' AND Q006 = 'M'", con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_pai_posgrad_8k_ch_media))

586.72 pontos

<br/>
Exercício 12.

In [126]:
nota_feminino_lavras_esp_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE TP_SEXO = 'F' AND NO_MUNICIPIO_RESIDENCIA = 'Lavras' AND TP_LINGUA = 1",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_feminino_lavras_esp_mt_media))

510.81 pontos

<br/>
Exercício 13.

In [127]:
nota_masculino_ouro_preto_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE TP_SEXO = 'M' AND NO_MUNICIPIO_RESIDENCIA = 'Ouro Preto'",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_masculino_ouro_preto_mt_media))

555.08 pontos

<br/>
Exercício 14.

In [130]:
nota_surdez_ch_media = pd.read_sql_query(
    "SELECT NU_NOTA_CH FROM ENEM WHERE IN_SURDEZ = 1",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_surdez_ch_media))

435.39 pontos

<br/>
Exercício 15.

In [132]:
nota_feminino_cidades_dislexia_mt_media = pd.read_sql_query(
    "SELECT NU_NOTA_MT FROM ENEM WHERE TP_SEXO = 'F' AND NO_MUNICIPIO_RESIDENCIA IN ('Belo Horizonte', 'Sabará', 'Nova Lima','Betim') AND IN_DISLEXIA = 1",
    con=engine).iloc[:, 0].dropna().astype(float).mean()
print("{:.2f} pontos".format(nota_feminino_cidades_dislexia_mt_media))

582.19 pontos